
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<bean name = "pointB" class="com.jobiak.auto.Point">
<property name = "x" value="75.5" ></property>
<property name = "y" value="85.5" ></property>


</bean>

<bean name = "pointA" class="com.jobiak.auto.Point">
<property name = "x" value="25.5" ></property>
<property name = "y" value="35.5" ></property>



<bean name = "line" class="com.jobiak.auto.Line" >
</bean>


<!--  
creating the object to line
</bean>
<bean name = "line" class="com.jobiak.auto.Line">
<property name = "a" value="pointA" ></property>
<property name = "b" value="pointB" ></property>
</bean>
-->






			
</beans>		
		